* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: .9px;
}
body {
    font-family: Arial;
    background-color: #8dc63f;
    cursor: url(../img/cursor.cur), default;
}

.main_container {
    padding: 25rem 0 29rem;
    flex-wrap: wrap-reverse;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: url(../img/cursor2.cur), default;
    transition: all .9s ease;
}

.wrapper {
    max-width: 960rem;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15rem;

}

.header {
    padding: 25rem 0;
    flex-wrap: wrap;
    gap: 10px;
}

.logo {
    gap: 20rem;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.gate img{
    width: 100%;
    min-height: 200px;
    object-fit: cover;
    object-position: 75%;
}

.footer {
    background-color: #39930d;
    font-size: 14rem;
    color: #fff;
    padding: 14rem 15rem;
    margin: 0 -15rem;

}

.new {
    background-color: #f3f3f3;
}

.logo p,
.contacts a {
    font-size: 22rem;
    color: #39930d;
}

.logo b {
    display: block;
    font-size: 44rem;
    padding: 3rem 0;
    color: #39930d;
}

.contacts,
i {
    font-size: 14rem;
    color: #5a5a5a;

}

.phone {
    font-size: 22rem;
    line-height: 7rem;
    color: #39930d;
    text-align: right;
    text-decoration: none;
}

.work {
    font-size: 14rem;
    line-height: 7rem;
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.number {
    font-size: 14rem;
    line-height: 7rem;
    color: #5a5a5a;
    font-style: italic;
    text-align: right;
}

.main_text p {
    margin-bottom: 18rem;
    font-size: 14rem;
    line-height: 1.5em;
    color: #343434;
}
.menu {
    width: 100%;
    min-width: 200px;
}
h1 {
    font-size: 24rem;
    color: #39930d;
    padding-bottom: 17rem;

}

.partner {
    background-color: #39930d;
    font-size: 18rem;
    color: #fff;
    padding: 11rem 19rem;
}

.gate {
    background-attachment: fixed;
    background-image: url(../img/picture.png);
}

.aside p {
    font-size: 18rem;
    color: #39930d;
    padding: 11rem 19rem;
    background-color: #39930d;
}

.menu a {
    font-size: 14rem;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.menu ul {
    padding: 20rem;
}
a:hover {
    color: yellow;
}

@media screen and (min-width: 430) {
    .contacts {
        text-align: right;
    }
}
@media screen and (min-width: 768px)  {
    html {
        font-size: .9px;
    }
    .main_container {
        flex-wrap: nowrap;
    }
    
}

@media screen and (min-width: 1024px)  {
    html {
        font-size: 1px;
    }
    .main_text {
        max-width: 599rem;
    }
    .gate {
        width: 100%;
        min-height: none;
        object-fit: cover;
        object-position: left;
    }   
}

@media screen and (min-width: 1440px)  {
    html {
        font-size: 1.1px;
    }    
}

@media screen and (min-width: 1920px)  {
    html {
        font-size: 1.2px;
    }    
}

@media screen and (min-width: 2200px)  {
    html {
        font-size: 1.7px;
    }    
}