* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #8dc63f;
}

.main_container {
    padding: 25px 0 29px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15px;

}

.header {
    padding: 25px 0;
}

.gate {
    width: 100%;
}

.footer {
    background-color: #39930d;
    font-size: 14px;
    line-height: 7px;
    color: #ffffff;
    font-family: "Arial";
    padding: 14px 15px;
    margin: 0 -15px;

}

.new {
    background-color: #f3f3f3;
}

.logo p,
.contacts a {
    font-size: 22px;
    color: #39930d;
}

.logo b {
    display: block;
    font-size: 44px;
    padding: 3px 0;
    color: #39930d;
}

.contacts,
i {
    font-size: 14px;
    color: #5a5a5a;
}

.gate {
    max-width: 930px;
}

.phone {
    font-size: 22px;
    line-height: 7px;
    color: #39930d;
    font-family: "Arial";
    text-align: right;
    text-decoration: none;
}

.work {
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
    font-style: italic;
    font-family: "Arial";
    text-align: right;
}

.number {
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
    font-style: italic;
    text-align: right;
}

.main_text p {
    max-width: 599px;
    margin-bottom: 18px;
    font-size: 14px;
    line-height: 1.5em;
    color: #343434;
}

h1 {
    font-size: 24px;
    color: #39930d;
    padding-bottom: 17px;

}

.partner {
    background-color: #39930d;
    font-size: 18px;
    line-height: 40px;
    color: #ffffff;
}

.gate {
    background-attachment: fixed;
    background-image: url(../img/picture.png);
}

.aside p {
    font-size: 18px;
    color: #39930d;
    padding: 11px 19px;
    background-color: #39930d;
}

.menu a {
    font-size: 14px;
    line-height: 2.1em;
    text-decoration: underline;
    text-transform: uppercase;
    color: #39930d;
}

.menu ul {
    padding: 20px;
}